#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Commissioner", sans-serif;
  background: #fafafa;
}

.darkMode {
  background: #1d2a35;
}

.hero-section {
  background-image: url("./assets/hero-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

footer {
  margin-top: auto !important;
}

.spinner {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-name: spin;
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 180deg;
  }
  100% {
    rotate: 360deg;
  }
}
